<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>cadastrar</display-name>
    <servlet-name>cadastrar</servlet-name>
    <servlet-class>protozoario.controller.cadastrarProtozoarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrar</servlet-name>
    <url-pattern>/cadastrarProtozoario</url-pattern>
  </servlet-mapping>
  <display-name>Protozoario</display-name>
  <servlet>
    <description></description>
    <display-name>buscar</display-name>
    <servlet-name>buscar</servlet-name>
    <servlet-class>protozoario.controller.buscarProtozoarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscar</servlet-name>
    <url-pattern>/buscarProtozoario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modificar</display-name>
    <servlet-name>modificar</servlet-name>
    <servlet-class>protozoario.controller.modificarProtozoarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificar</servlet-name>
    <url-pattern>/modificarProtozoario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>alterarProtozoarioController</display-name>
    <servlet-name>alterarProtozoarioController</servlet-name>
    <servlet-class>protozoario.controller.alterarProtozoarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alterarProtozoarioController</servlet-name>
    <url-pattern>/alterarProtozoarioController</url-pattern>
  </servlet-mapping>
</web-app>